
/* ------------------------------------------

    --- FOUNDRY WINDOW STYLES DONT TOUCH ---

   ------------------------------------------ */ 

.red-thread.investigator-sheet {
  overflow: visible;
  background: none;
  border: none;
  box-shadow: none;
  pointer-events: none;

} 

/* -- THIS IS NEEDED TO DISPLAY OUTSIDE WINDOW -- */

.red-thread.investigator-sheet .window-content {
  overflow: visible;
  background: none;
  border: none;
  backdrop-filter: none;

}
 
.red-thread.investigator-sheet .window-header {
  background: none;
  border: none;
  visibility: hidden;
}
/* -- THIS IS NEEDED TO DISPLAY OUTSIDE WINDOW -- */


/* ------------------------------------

    --- FOLDER STRUCTURE GOES HERE ---

   ------------------------------------ */ 

.investigator-sheet {
  position: absolute;
  width: 400px; /* Created originally 500 * 700 */
  height: 560px;
  pointer-events: auto;
}
   
   /* FOLDER SHELL */

.investigator-sheet .folder-shell {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateZ(-90deg);
  inset: 0;
  perspective: 1800px;
  align-items: center;
  vertical-align: middle;
  align-self: center;
}


/* FRONT COVER */
.investigator-sheet .page .folder-front {
  position: absolute;
  inset: 0 ;
  width: 100%;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background:
    repeating-linear-gradient(
      45deg,
      rgba(0,0,0,0.02),
      rgba(0,0,0,0.02) 1px,
      transparent 1px,
      transparent 3px
    ),
    linear-gradient(#e0c58b, #d1b06c);
  transform: rotateY(0deg);
  transition: transform 0.8s ease;
  cursor: pointer;
}

/* BACK COVER */
.investigator-sheet .page .folder-back {
  position: absolute;
  inset: 0 ;
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: #00000031;
  border-right-width: 2px;
  border-right-style: groove;
  background:
    repeating-linear-gradient(
      45deg,
      rgba(0,0,0,0.02),
      rgba(0,0,0,0.02) 1px,
      transparent 1px,
      transparent 3px
    ),
    linear-gradient(#e0c58b, #d1b06c);
  transform-origin: left center;
  transform: rotateY(0deg);
  transition: transform 0.8s ease;
  transform: translateZ(-2px);
  cursor: pointer;
}


/* ------------------------------------

    --- PAGE STRUCTURE GOES HERE ---

   ------------------------------------ */ 

.investigator-sheet .page-stack {
  position: absolute;
  width: 100%;
  height: 100%;
}
/*
.page .paper {
  position: absolute;
  margin-top: 3%; 
  margin-left: 5%; 
  height: 95%;
  background: #e5e4cb;
  color: #000;
  vertical-align: middle;
  align-self: center;
  align-items: center;
  border: #969696;
}
*/


/* base page */
.investigator-sheet .page {
  position: absolute;
  inset: 0;
  transform-style: preserve-3d;
  transform-origin: left center; 

}

.investigator-sheet .paper {
  position: absolute;
  width: 95%;
  height: 95%;
  vertical-align: middle;
  align-self: center;
  align-items: center;
}

.investigator-sheet .page-spine {
  position:absolute;
  left: 0;
  top: 0;
  width: var(--spine-width, 24px);
  height: 100%;
  background: transparent;
  pointer-events: auto;
}

/* duplex faces */
.investigator-sheet .page .front,
.investigator-sheet .page .back {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
}

.investigator-sheet .page.paper .front,
.investigator-sheet .page.paper .back {
  position: absolute;
  left: var(--spine-width, 24px);
  background: #e5e4cb;
  color: #000;
  border: #969696;
  backface-visibility: hidden;

}

/* -- THIS IS KEEPING DUPLEX PROPERLY REVERSED --*/
.investigator-sheet .page .back-initialized {
  transform: rotateY(180deg); 
}

/* RIGHT STACK (future + current) */
.investigator-sheet .page.future,
.investigator-sheet .page.current {
  z-index: 20;
}

/* LEFT STACK (past) */
.investigator-sheet .page.past {
  z-index: 10;
}

.investigator-sheet .draggable {
  -webkit-user-drag: none;

}

/* -------------------------------

    --- ANIMATIONS LIVE HERE ---

   ------------------------------- */

/* Page flip forward */
@keyframes turn-page-forward {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(-180deg); }
}

/* Page flip backward */
@keyframes turn-page-backward {
  0% { transform: rotateY(-180deg); }
  100% { transform: rotateY(0deg); }
}

@keyframes open-folder{
  0% { transform: rotateZ(-90deg) scale(5%)}
  80% { transform: rotateZ(-95deg) scale(100%)}
  100% { transform: rotateZ(0deg) scale(100%)}
}

@keyframes close-folder{
  0% { transform: rotateZ(0deg) scale(100%)}
  100% { transform: rotateZ(-90deg) scale(5%)}
}

/* Trigger classes */
.investigator-sheet .turn-forward {
  animation: turn-page-forward 0.55s ease-out forwards;
}

.investigator-sheet .turn-backward {
  animation: turn-page-backward 0.55s ease-out forwards;
}

.investigator-sheet .page.turn-backward,
.investigator-sheet .page.turn-forward {
  transition: none !important;
  z-index: 100;
}

.investigator-sheet .open-folder-trigger {
  animation: open-folder 1s ease-out forwards;
}
.investigator-sheet .close-folder-trigger {
  animation: close-folder 1s ease-out forwards;
}


.investigator-sheet .page.no-transition {
  transition: none !important;
}


/* ------------------------------------

    --- NAVIGATION ENTITIES ARE HERE ---

   ------------------------------------ */ 

.investigator-sheet .folder-close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 6px 8px;
  cursor: pointer;
  background: #d6c08d;
  border-radius: 8px;
  font-family: "Special Elite", monospace;
  z-index: 9999;
}

.investigator-sheet .folder-label {
  position: absolute;
  right: -40px;
  top: 120px;
  width: 160px;
  background: #d6c08d;
  padding: 8px;
  font-family: "Special Elite", Courier, monospace;
  color: #000;
  transform: rotate(90deg);
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

.investigator-sheet .page-corner {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 0;
  cursor: pointer;
  background: rgba(0, 255, 255, 0.35);
}

.investigator-sheet .next-page {
  right: 0;
}

.investigator-sheet .prev-page {
  left: 0;
}

/* ------------------------------------

    --- LAYOUT STYLING GOES HERE ---

   ------------------------------------ */ 

/* Layout Styling */
.investigator-sheet .profile,
.investigator-sheet .characteristics,
.investigator-sheet .attributes,
.investigator-sheet .status,
.investigator-sheet .combat {
  padding: 16px;
  color: #000;
}

.investigator-sheet .profile-label,
.investigator-sheet .characteristics label,
.investigator-sheet .attributes label,
.investigator-sheet .status label,
.investigator-sheet .combat .stat-label {
  display: flex;
  font-weight: 600;
  font-family: "Baskerville";
  font-size: small;
  padding: 0px;
  gap: 5px;
}

.investigator-sheet .stat {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 8px;
}

.investigator-sheet .stat input {
  width: 40px;
  color: #000;
}


.investigator-sheet .profile-input {
  background: transparent; 
  font-family: "Baskerville";
  font-size: small;
  color:black;
  border: none; /* Removes all default borders */
  border-bottom: 1px solid #00000033; /* Adds a solid bottom line */
  outline: none; /* Removes the default blue outline when focused */
  border-radius: 0;
  height: 13px;
  padding-top: 2px;
  padding-left: 0px;
}

.investigator-sheet .profile-textarea {
  background: transparent; 
  font-family: "Baskerville";
  font-size: small;
  color:black;
  border: none; /* Removes all default borders */
  border-bottom: 1px solid #00000033; /* Adds a solid bottom line */
  outline: none; /* Removes the default blue outline when focused */
  border-radius: 0;
  height: 66px;
  width: 335px;
  padding: 0px;
  resize: none;
}

.investigator-sheet .profile-heading {
  color: black;
  font-family: "IM Fell DW Pica";
  font-weight: 600;
  font-size: large;
  width:400px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.investigator-sheet .profile-sections {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 12px;
    
}