@font-face {
  font-family: "Special Elite";
  src: url("../fonts/Special_Elite/SpecialElite-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IM Fell DW Pica";
  src: url("../fonts/IM_Fell_DW_Pica/IMFellDWPica-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IM Fell DW Pica Italic";
  src: url("../fonts/IM_Fell_DW_Pica/IMFellDWPica-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IM Fell Double Pica";
  src: url("../fonts/IM_Fell_Double_Pica/IMFellDoublePica-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IM Fell Double Pica Italic";
  src: url("../fonts/IM_Fell_Double_Pica/IMFellDoublePica-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IM Fell Double Pica SC";
  src: url("../fonts/IM_Fell_Double_Pica_SC/IMFellDoublePicaSC-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Baskerville";
  src: url("../fonts/Baskervville/Baskervville-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Baskerville Italic";
  src: url("../fonts/Baskervville/Baskervville-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}